<div class="container col-md-12 col-sm-12 col-lg-12  body-bg">
	<div class="col-md-2 col-sm-2 col-lg-2"></div>
	<div class="col-md-8 col-sm-8 col-lg-8">
		<form class="loginform" name="loginform">

			<md-card> <md-card-content>
			<h2 class="margin-bottom-50" style="color: grey">Email Id</h2>
			<md-input-container class="md-block flex-gt-sm " flex-gt-sm="">
			<input type="text" required ng-model="user.userName"  style="color: black"  class="md-input"
				id="input_1" name="username"> </md-input-container> <md-input-container
				class="md-block flex-gt-sm " flex-gt-sm="" >
			<h2 class="margin-bottom-50" style="color: grey">password</h2>
			<input type="password" required ng-model="user.password"
				class="md-input" style="color: black" id="input_2" name="password"> </md-input-container> <md-card-actions
				layout="row" layout-align="center center"> <md-button
				class="md-raised md-warn md-button md-ink-ripple "
				style="background-color:#F05F40;" aria-label="add"
				ng-click="authorise()"> Sign In </md-button> </md-card-actions>
	</div>

	</md-card-content>
	</md-card>
</div>
</form>
</div>
</div>